/*
Autor: Franco Pirez
Ultima actualizacion: 29/08/2026
*/

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    padding: 12px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161618;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000; /*Se agregó z-index para que el header esté siempre visible */
}
.header-izquierda {
    display: flex;
    align-items: center;
    gap: 30px;
}
.logo {
    height: 30px;
    position: relative;
    top: 3px; /*Indica cuánto querés desplazar el elemento desde arriba*/
}
.menu{
    display: flex;
    gap: 20px;
}
.menu a{
    text-decoration: none;
    color: #8a8a96;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
    font-weight: normal;
    padding: 10px;
}

.menu a:hover{
    color: #f0ede8;
}

.header-derecha{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-derecha img{
    display: block;
    background-color: rgb(26, 26, 26);
    width: 50px;
    height: 40px;
    transition: transform 0.3s ease;
    border: 1px solid #f97316;
    border-radius: 8px;
}

.header-derecha img:hover{
    background-color: #f97316;
}

.login{
    text-decoration: none;
    color: #8a8a96;
    transition: color .3s ease;
}

.login:hover{
    color: #f0ede8;
}

.register{
    text-decoration: none;
    color: #f97316;
    border: 1px solid #f97316;
    padding: 8px 18px;
    border-radius: 8px;
    transition:color .3s ease, background-color .3s ease, border-color .3s ease;
}

.register:hover{
    background-color: #f97316;
    color: #161618;
}

/* Body */
body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0C0C0E;
    color: white;
}

main{
    padding: 20px 30px;
}

/* Breadcrumb */
.breadcrumb{
    font-size: small;
    display: flex;
    gap: 5px;
    margin:20px 30px;
    color: #8A8A96;
}

.breadcrumb a{
    text-decoration: none;
    color: white;
}

.breadcrumb a:hover {
    color: #F97316;
}
/* Producto */
.producto{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.imagenes img{
    border-radius: 12px;
    width: 100%;
}

/* Tarjeta sobre el producto, su precio y compra*/
.info-producto{
    background-color: #1E1E21;
    border: 1px solid rgba(249,115,22,.12);
    border-radius: 2px;
    margin-top: 15px;
    padding: 20px;
    width: 360px;
}
.info-producto h1{
    color: #F0EDE8;
    text-align: center;
}

.info-producto .precio{
    color: #F97316;
    font-size: x-large;
}

.info-producto .stock{
    color: #8A8A96;
}

#carrito-btn{
    background-color: #F97316;
    color: #161618;
    margin-top: 3%;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

#carrito-btn:hover{
    background-color: #FF8C38;
}

/* Descripcion */
.desc-producto{
    width: 80%;
    margin: 15px auto;
    padding: 25px;
    border:1px solid#d48a42 ;
    border-radius: 10px;
    
}

.desc-producto h2{
    margin-bottom: 10px;
    text-align: center;
}

.desc-producto h3{
    margin-bottom: 10px;
}
.desc-producto hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.desc-producto p {
    line-height: 1.6;
    font-size: smaller;
}

.desc-producto ul{
    margin-left: 20px;
    font-size: smaller;
}

.desc-producto li{
    margin-bottom: 8px;
}

.productos-relacionados{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
.productos-relacionados .tarjeta1 img,
.productos-relacionados .tarjeta2 img,
.productos-relacionados .tarjeta3 img{
    width: 100%;
    max-width: 280px;
    height: auto;
    margin: 10px 0;
    padding: 0;
}

.productos-relacionados .tarjeta1,
.productos-relacionados .tarjeta2,
.productos-relacionados .tarjeta3 h3{
    color: #F0EDE8;
    text-align: center;

}

/* Footer */
footer{

    background:#181818;

    text-align:center;

    padding:35px;

    border-top:3px solid #d48a42;

}

footer h3{

    color:#d48a42;

    margin-bottom:15px;

}

footer p{

    margin:8px;

    color:#dcdcdc;

}

/*Responsive*/

/*Tablet*/

@media (max-width:1024px){
    header{
        padding: 12px 20px;
    }
    .producto{
        flex-direction: column;
        align-items: center;
    }

    .productos-relacionados{
        flex-wrap: wrap;
        justify-content: center;
    }

}

/* Celular */

@media (max-width:768px){

    header{
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .header-izquierda{
        flex-direction: column;
        gap: 10px;
    }

    .header-derecha{
        justify-content: center;
    }

    .menu{
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .producto{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 25px auto;
    }

    .info-producto{
        width: 100%;
    }

    .desc-producto{
        width: 100%;
        margin: 20px 0;
    }

    .productos-relacionados{
        flex-direction: column;
        align-items: center;
    }
}